body {
  background-color: #dee0d3;
}
/*header */
.header {
  position: fixed;
  height: 150px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: gray;
  z-index: 10;
}
.bg-img {
  max-width: 1920px;
  width: 100%;
  height: 150px;
  background-image: url(../images/bg1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.nav_logo {
  color: white;
  font-weight: bolder;
  font-size: 40px;
  transition: 0.5s ease;
  transform: translateY(30%);
}
.nav_logo:hover {
  color: darkorange;
}
.nav_item {
  color: white;
  font-size: 20px;
  font-weight: 900;
  transition: 0.5s ease;
  font-family: "Kalam", cursive;
}
.nav_item:hover {
  color: darkorange;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.burger_bar {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 20px;
  height: 4px;
  margin: 4px auto;
  background-color: darkred;
}

/* first section,first main div*/
.first-section {
  margin-top: 170px;
  display: flex;
}
.h1-first-title {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 20px;
  font-family: "Peralta", cursive;
}
.h3-first-title {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 30ox;
  font-weight: bold;
  font-family: "Peralta", cursive;
}
/*slider*/
.slider-container {
  width: 400px;
  position: relative;
}

.slider-add-button {
  background-color: gold;
  text-align: center;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
.slider-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  max-height: 300px;
  height: 100%;
  object-fit: contain;
}

.slider-title {
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
}
.slider-container .slides .slider-description {
  text-align: center;
  font-size: 10px;
  font-weight: 900;
  bottom: 15px;
  width: 100%;
  color: black;
  padding: 10px;
  margin-left: 20px;
  border: 2px solid black;
}

.slider-container .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
  margin-left: 20px;
  border: 2px solid black;
  transition: 0.5s ease;
}
.slider-container .prev:hover {
  cursor: pointer;
  background-color: darkgreen;
}
.slider-container .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
  margin-left: 20px;
  border: 2px solid black;
  transition: 0.5s ease;
}
.slider-container .next:hover {
  cursor: pointer;
  background-color: darkgreen;
}

.slider-container .prev:hover {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.slider-container .next:hover {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}

.slider-container .slider-bullets {
  text-align: center;
  margin-top: 50px;
}

.slider-container .slider-bullets .dots {
  display: inline-block;
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  transform: translateY(-30px);
}

.slider-container .slider-bullets .dots:hover {
  cursor: pointer;
  background-color: black;
}

.slider-container .slider-bullets .active {
  background-color: black;
}
/* first section,second main div*/

.second-main-div {
  max-width: 500px;
  width: 100%;
  height: 500px;
  margin-left: 100px;
  margin-top: 100px;
}
.h2-first-title {
  font-size: 17px;
  font-weight: bold;
  font-family: "Peralta", cursive;
}
/* validation*/

h2 {
  text-align: center;
  margin: 0 0 20px;
}
.form {
  padding: 30px 40px;
  border: 4px solid black;
  box-shadow: 0 2px 10px rgba(5, 5, 5, 0.952);
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
}
.form-control label {
  color: black;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-control input {
  border-radius: 4px;
  font-size: 25px;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}
.form-control.success input {
  border-color: green;
}
.form-control.error input {
  border-color: red;
}

.form-control span {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error span {
  visibility: visible;
}

.form-button {
  cursor: pointer;
  background-color: hsl(130, 70%, 53%);
  border: 1px sold #000000;
  border-radius: 4px;
  color: black;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  transition: 0.5s ease;
  font-family: "Peralta", cursive;
}
.form-button:hover {
  cursor: pointer;
  background-color: darkgreen;
}

.month {
  max-width: 70px;
  width: 100%;
  margin: 0 auto;
}
.date {
  max-width: 70px;
  width: 100%;
  margin: 0 auto;
}
.year {
  max-width: 100px;
  width: 100%;
  margin: 0 auto;
}
.username {
  margin: 0 auto;
}
.email {
  margin: 0 auto;
  transform: translateX(13px);
}
.password {
  margin: 0 auto;
}
.password2 {
  margin: 0 auto;
  transform: translateX(-12px);
}
/* scroll up event*/

.scroll-up,
.scroll-up1 {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border: 2px, solid black;
  box-shadow: 0 2px 10px rgba(5, 5, 5, 0.952);
  border-radius: 10px;
  width: 80px;
  height: 60px;
  cursor: pointer;
  transition: 0.8s ease;
  z-index: 6;
}
.scroll-up:hover,
.scroll-up1:hover {
  cursor: pointer;
  background-color: darkgreen;
}
/* top bayers div*/
.bayers-section {
  margin-top: 100px;
}
.bayers-div {
  margin-top: 300px;
  background-color: white;
  max-width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  border: 5px solid black;
  box-shadow: 0 2px 10px rgba(5, 5, 5, 0.952);
}
.bayers-div:hover {
  cursor: grab;
  background-color: wheat;
  transition: 0.5s ease;
}

.ul-style {
  display: flex;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}
.top-bayers {
  font-size: 17px;
  font-weight: bold;
  font-family: "Peralta", cursive;
}
.style-image {
  max-height: 30px;
  height: 100%;
  width: 50px;
  margin-top: 20px;
  border: 2px solid black;
  object-fit: cover;
}
.style-p {
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  border: 2px solid black;
}
.delete {
  transform: translateY(-20px);
  border: 2px solid black;
  background-color: red;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}
/* shop first section*/
.first-shop-section {
  margin-top: 270px;
  background-color: #000000;
  max-height: 400px;
  height: 100%;
}
.whiskey-main-div {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 50px;
  margin: 50px auto;
  max-width: 1920px;
  width: 100%;
  padding: 28px;
}
.shop-posts {
  max-width: 800px;
  width: 100%;
  background-color: white;
  border: 5px solid black;
  padding: 150px;
  border-radius: 40px;
}
.shop-images {
  max-height: 300px;
  height: 100%;
  display: block;
  transform: translateX(-100px);
}
.drink-name {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Peralta", cursive;
  font-weight: bolder;
  font-size: 40px;
  margin-left: 40px;
}
.prices {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  padding-top: 100px;
  font-family: "Peralta", cursive;

  transform: translateY(-400px);

  margin-left: 40px;
}
.click-to-buy {
  text-align: center;
  font-family: "Peralta", cursive;

  font-weight: bold;
  max-width: 150px;
  width: 100%;
  border-radius: 20px;
  font-size: 17px;
  border: 2px solid black;
  background-color: greenyellow;
  transform: translateY(-750px);
  transition: 0.5s ease;

  margin-left: 40px;
}
.click-to-buy:hover {
  cursor: pointer;
  background-color: gold;
}
/*search*/
.search {
  position: fixed;
  margin-bottom: 100px;
  margin-left: 80%;
  max-width: 150px;
  width: 100%;
  height: 40px;
  border: 4px solid black;
  transform: translateY(-120px);
}

#whiskey_list {
  position: fixed;
  font-size: 15px;
  margin-left: 80%;
  transform: translateY(-80px);
  max-width: 100px;
  width: 100%;
  border: 4px solid black;
  font-family: "Peralta", cursive;
  background-color: white;
  transition: 0.5s ease;
}
#whiskey_list:hover {
  cursor: pointer;
  background-color: darkgreen;
}
