body {
  background-color: #dee0d3;
}
.main{
  margin-top: 150px;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Peralta", cursive;
  color: blue;
}
/*header */
.header {
  position: fixed;
  height: 150px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: gray;
  z-index: 10;
}
.bg-img {
  max-width: 1920px;
  width: 100%;
  height: 150px;
  background-image: url(../images/bg1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.nav_logo {
  color: white;
  font-weight: bolder;
  font-size: 40px;
  transition: 0.5s ease;
  transform: translateY(30%);
}
.nav_logo:hover {
  color: darkorange;
}
.nav_item {
  color: white;
  font-size: 20px;
  font-weight: 900;
  transition: 0.5s ease;
  font-family: "Kalam", cursive;
}
.nav_item:hover {
  color: darkorange;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.burger_bar {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 20px;
  height: 4px;
  margin: 4px auto;
  background-color: darkred;
}

/* first section,first main div*/
.first-section {
  margin-top: 170px;
  display: flex;
}
.h1-first-title {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 20px;
  font-family: "Peralta", cursive;
}
.h3-first-title {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 30ox;
  font-weight: bold;
  font-family: "Peralta", cursive;
}
/*slider*/
.slider-container {
  width: 400px;
  position: relative;
}

.slider-add-button {
  background-color: gold;
  text-align: center;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
.slider-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  max-height: 300px;
  height: 100%;
  object-fit: contain;
}

.slider-title {
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
}
.slider-container .slides .slider-description {
  text-align: center;
  font-size: 10px;
  font-weight: 900;
  bottom: 15px;
  width: 100%;
  color: black;
  padding: 10px;
  margin-left: 20px;
  border: 2px solid black;
}

.slider-container .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
  margin-left: 20px;
  border: 2px solid black;
  transition: 0.5s ease;
}
.slider-container .prev:hover {
  cursor: pointer;
  background-color: darkgreen;
}
.slider-container .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
  margin-left: 20px;
  border: 2px solid black;
  transition: 0.5s ease;
}
.slider-container .next:hover {
  cursor: pointer;
  background-color: darkgreen;
}

.slider-container .prev:hover {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.slider-container .next:hover {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}

.slider-container .slider-bullets {
  text-align: center;
  margin-top: 50px;
}

.slider-container .slider-bullets .dots {
  display: inline-block;
  padding: 5px;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  transform: translateY(-30px);
}

.slider-container .slider-bullets .dots:hover {
  cursor: pointer;
  background-color: black;
}

.slider-container .slider-bullets .active {
  background-color: black;
}
/* first section,second main div*/

.second-main-div {
  max-width: 500px;
  width: 100%;
  height: 500px;
  margin-left: 100px;
  margin-top: 100px;
}
.h2-first-title {
  font-size: 17px;
  font-weight: bold;
  font-family: "Peralta", cursive;
}
/* validation*/

h2 {
  text-align: center;
  margin: 0 0 20px;
}
.form {
  padding: 30px 40px;
  border: 4px solid black;
  box-shadow: 0 2px 10px rgba(5, 5, 5, 0.952);
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
}
.form-control label {
  color: black;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-control input {
  border-radius: 4px;
  font-size: 25px;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}
.form-control.success input {
  border-color: green;
}
.form-control.error input {
  border-color: red;
}

.form-control span {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error span {
  visibility: visible;
}

.form-button {
  cursor: pointer;
  background-color: hsl(130, 70%, 53%);
  border: 1px sold #000000;
  border-radius: 4px;
  color: black;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  transition: 0.5s ease;
  font-family: "Peralta", cursive;
}
.form-button:hover {
  cursor: pointer;
  background-color: darkgreen;
}

.username {
  margin: 0 auto;
}
.email {
  margin: 0 auto;
  transform: translateX(13px);
}
.password {
  margin: 0 auto;
}
.password2 {
  margin: 0 auto;
  transform: translateX(-12px);
}
/* scroll up event*/

.scroll-up,
.scroll-up1 {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border: 2px, solid black;
  box-shadow: 0 2px 10px rgba(5, 5, 5, 0.952);
  border-radius: 10px;
  width: 80px;
  height: 60px;
  cursor: pointer;
  transition: 0.8s ease;
  z-index: 6;
  opacity: 20%;
}
.scroll-up:hover,
.scroll-up1:hover {
  cursor: pointer;
  background-color: darkgreen;
  opacity: 80%;
}
/* top bayers div*/
.buyers-section {
  margin-top: 100px;
}
.buyers-div {
  margin-top: 300px;
  background-color: white;
  max-width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  border: 5px solid black;
  box-shadow: 0 2px 10px rgba(5, 5, 5, 0.952);
}
.buyers-div:hover {
  cursor: grab;
  background-color: wheat;
  transition: 0.5s ease;
}

.ul-style {
  display: flex;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}
.top-buyers {
  font-size: 17px;
  font-weight: bold;
  font-family: "Peralta", cursive;
}
.style-image {
  max-height: 30px;
  height: 100%;
  width: 50px;
  margin-top: 20px;
  border: 2px solid black;
  object-fit: cover;
}
.style-p {
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
  border: 2px solid black;
}
.delete {
  transform: translateY(-20px);
  border: 2px solid black;
  background-color: red;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}
/* shop first section*/
.first-shop-section {
  margin-top: 270px;
  background-color: #000000;
  max-height: 400px;
  height: 100%;
}
#whiskey-main-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px auto;
  max-width: 1920px;
  width: 100%;
  max-height: 100%;
  padding: 28px;
  box-shadow: 5px 5px 10px rgba(5, 5, 5, 5);
}
.shop-posts {
  max-width: 400px;
  width: 100%;
  height: 300px;
  background-color: white;
  border: 5px solid black;
}
.shop-images {
  max-height: 200px;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.drink-name {
  font-family: "Peralta", cursive;
  font-weight: bolder;
  font-size: 20px;
}
.prices {
  font-weight: bold;
  font-size: 20px;
  padding-top: 100px;
  font-family: "Peralta", cursive;
  transform: translateY(-100px);
  margin-left: 5px;
}

.click-to-buy {
  font-family: "Peralta", cursive;
  transform: translateY(-100px);
  font-weight: bold;
  max-width: 130px;
  width: 100%;
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid black;
  background-color: greenyellow;
  transition: 0.5s ease;
  margin-top: 5px;
  margin-left: 5px;
}
.click-to-buy:hover {
  cursor: pointer;
  background-color: gold;
}
/*search*/
.search {
  position: fixed;
  margin-bottom: 100px;
  max-width: 150px;
  width: 100%;
  height: 40px;
  border: 4px solid black;
  transform: translateY(-120px);
}

#whiskey_list {
  position: fixed;
  font-size: 15px;
  transform: translateY(-80px);
  max-width: 100px;
  width: 100%;
  border: 4px solid black;
  font-family: "Peralta", cursive;
  background-color: white;
  transition: 0.5s ease;
  opacity: 10%;
}
#whiskey_list:hover {
  cursor: pointer;
  background-color: darkgreen;
  opacity: 80%;
}
/* footer*/
.footer {
  max-width: 1920px;
  width: 100%;
  height: 300px;
  margin-top: 100px;
  background-color: rgb(136, 125, 233);
  display: flex;
}
.footer-box-1 {
  max-width: 260px;
  width: 100%;
  height: 191px;
  margin-top: 90px;
  margin-left: 139px;
}
.box-1-h3 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  font-family: "DynaPuff", cursive;
}
.box-1-li {
  font-size: 14px;
  max-width: 150px;
  margin-top: 5px;
  color: black;
  font-family: "DynaPuff", cursive;
}
.footer-logos {
  display: flex;
  margin-top: 10px;
}
.footer-logos i:nth-child(1) {
  font-size: 35px;
  margin-right: 15px;
  color: #f5deb3;
}
.footer-logos i:nth-child(2) {
  font-size: 35px;
  margin-right: 15px;
  color: #f28e1c;
}
.footer-logos i:nth-child(3) {
  font-size: 35px;
  margin-right: 15px;
  color: gold;
}
.footer-box-2 {
  max-width: 200px;
  width: 100%;
  height: 155px;
  margin-left: 200px;
  margin-top: 90px;
}
.box-2-h3 {
  font-size: 21px;
  font-weight: bold;
  color: white;
  font-family: "DynaPuff", cursive;
  margin-bottom: 20px;
}
.box-2-li {
  font-size: 17px;
  color: black;
  font-family: "DynaPuff", cursive;
  margin-top: 10px;
  border: 3px solid black;
}
.footer-box-3 {
  max-width: 150px;
  width: 100%;
  height: 155px;
  margin-left: 81px;
  margin-top: 90px;
  cursor: pointer;
}

.footer-box-3 p:nth-child(1) {
  font-size: 30px;
  font-family: "DynaPuff", cursive;
  color: white;
}
.footer-box-3 p:nth-child(2) {
  margin-bottom: 7px;
  font-family: "DynaPuff", cursive;
  color: blue;
}
.footer-box-3 p:nth-child(3) {
  margin-bottom: 7px;
  font-family: "DynaPuff", cursive;
  color: #dd2a7b;
}
.footer-box-3 p:nth-child(4) {
  margin-bottom: 7px;
  font-family: "DynaPuff", cursive;
  color: darkred;
}
.footer-box-3 p:nth-child(5) {
  margin-bottom: 7px;
  font-family: "DynaPuff", cursive;
  color: #ff0000;
}
.footer-box-3 p:nth-child(6) {
  margin-bottom: 7px;
  font-family: "DynaPuff", cursive;
  color: #0077b5;
}

.footer-box-4 {
  max-width: 198px;
  width: 100%;
  height: 145px;
  margin-left: 81px;
  margin-top: 90px;
}
.footer-info {
  margin-top: 10px;
  font-size: 17px;
  color: black;
  font-family: "DynaPuff", cursive;
  border: 3px solid black;
}
/* About us*/
.h2-map {
  display: none;
}
.map {
  max-width: 1920px;
  width: 100%;
  height: 300px;
  transform: translateY(50px);
  margin: 0 auto;
}
.google map {
  max-width: 1920px;
  max-width: 100%;
  height: 300px;
  width: 100%;
}
.input_main_div {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.draw-number {
  margin-top: 100px;
  max-width: 400px;
  width: 100%;
  height: 50px;
  margin-left: 100px;
  border: 3px solid black;
  outline: none;
  border-radius: 20px;
}
.draw-btn {
  max-width: 400px;
  width: 100%;
  margin-left: 100px;
  height: 50px;
  transition: 0.5s ease;
  border-radius: 20px;
  background-color: hsl(130, 70%, 53%);
  font-family: "Peralta", cursive;
}
.draw-btn:hover {
  cursor: pointer;
  background-color: green;
}
.conatact-h3-1 {
  width: 100%;
  height: 50px;
  text-align: center;
  margin-left: 100px;
  font-size: 16px;
  color: purple;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 5px;
  font-family: "Peralta", cursive;
}
.contact-h3 {
  font-size: 40px;
  font-weight: bolder;
}
.textarea {
  max-width: 700px;
  width: 100%;
  height: 400px;
  border: 2px solid black;
  box-shadow: 0 2px 10px rgba(5, 5, 5, 0.952);
  margin-left: 20px;
  margin-top: 20px;
  outline: none;
}
.textare-send {
  cursor: pointer;
  background-color: hsl(130, 70%, 53%);
  border: 1px sold #000000;
  border-radius: 4px;
  color: black;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  transition: 0.5s ease;
  margin-left: 20px;
  font-family: "Peralta", cursive;
}
.textare-send:hover {
  cursor: pointer;
  background-color: darkgreen;
}

.info-tittle {
  font-size: 40px;
  text-align: center;
  font-family: "DynaPuff", cursive;
  margin-top: 50px;
}
.info-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}
.info-icons {
  font-size: 40px;
  color: green;
}
.info-title {
  font-size: 20px;
}
.info-info {
  font-size: 20px;
}
/*about us*/
.accordion-section {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion {
  font-size: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.label {
  background-color: grey;
  color: white;
  width: 100%;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  font-family: "Peralta", cursive;
}

.label::before {
  content: "+";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.content {
  font-size: 20px;
  overflow: hidden;
  overflow-y: auto;
  height: 0;
  position: relative;
  transition: 2s ease;
  font-family: "Peralta", cursive;
}
.content::-webkit-scrollbar {
  display: none;
}

.accordion-box.active .content {
  height: 100px;
  padding: 10px;
}

.accordion-box.active .label::before {
  content: "-";
}
